<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./../../../../assets/styles/css/style.min.css">
      <link rel="stylesheet" href="./../../../../assets/styles/css/normalize.css">
      <link rel="stylesheet" href="./style.css">
      <title>Online shop of sport style wear</title>
</head>
<body class="body">
    <div class="header container">
        <div class="header-left">
          <div class="sneaker-icon-container">
            <a href="./../../../../index.html" class="sneaker-icon-link">
              <img src="./../../../../assets/img/icons/sneaker-icon.png" class="sneaker-icon-img" alt="sneaker-icon.png">
              <span class="sneaker-txt">ONLINE STORE</span>
            </a>
          </div>
        </div>
        <div class="menu">
          <ul class="nav">
            <!--<li class="nav-item"><a href="/index.html">Main Page</li>
            <li class="nav-item"><a href="/components/view/pages/404/404.html">404 Page</li>-->
          </ul>
        </div>
        <div class="header-middle">
            <!-- <h2 class="cart-total-title">TOTAL  AMOUNT</h2>
            <span class="header-totall-price">0 $</span>
            <button class="removeAll">Clear Cart</button> -->
        </div>
        <div class="header-right">
          <div class="basket-icon-container">
            <a href="./cart.html" class="basket-icon-link">
              <img src="./../../../../assets/img/icons/basket-icon.png" class="basket-icon-img" alt="basket-icon.png">
              <div class="basket-circle"><span class="nmb-items">0</div>
              <span class="basket-txt">BASKET</span>
            </a>
          </div>
        </div>
    </div>
    <div class="large-section">
        <main class="main-container container">
            <section class="products-container cart">
                <div class="product-header">
                    <h5 class="product-title">PRODUCT</h5>
                    <h5 class="price">PRICE</h5>
                    <h5 class="quantity">QUANTITY</h5>
                    <h5 class="total">TOTAL</h5>
                </div>
                <div class="products">
                </div>
            </section>
        </main>
    </div>
    <footer class="footer container">

        <div class="gh">
    
          <div class="GH1">
            <a class="footer-icon-link" target="_blank" href="https://github.com/SHTAKET1032">
              <img class="logo-footer" src="./../../../../assets/img/icons/gh-dark.svg" alt="gh_logo.svg">
            </a>
          </div>
    
          <div class="GH2">
            <a class="footer-icon-link" target="_blank" href="https://github.com/milana-bilych">
              <img class="logo-footer" src="./../../../../assets/img/icons/gh-white.svg" alt="gh_logo.svg">
            </a>
          </div>
    
        </div>
    
        <span class="year">2022</span>
    
        <div class="rss">
          <a class="footer-icon-link" target="_blank" href="https://rs.school/js/">
            <img class="logo-footer" src="https://rs.school/images/rs_school_js.svg" alt="rss_logo.svg">
          </a>
        </div>
    
    </footer>
    <script src="./cart.js" type="module"></script>
    <script src="./../../../../data.js" type="module"></script>
    <script src="./../../../../index.js" type="module"></script>
</body>
</html>