.cart {
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px;
}

.product {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.product-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid rgba(0, 0, 0, 0.489);
}

.first-part {
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
}

.product-title {
    width: 45%;
}

.price {
    width: 25%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 25%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.products {
    font-size: 25px;
}

.products img {
    width: 100px;
    height: 100px;
}

.signs {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 900px;
    max-width: 80%;
}
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-body {
    padding: 10px 15px;
}
  
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.form-validation.error {
    border: 1px solid red;
    border-radius: 10px;
}

.form-validation.valid {
    border: 1px solid green;
    border-radius: 10px;
}

.form-validation p {
    color: red;
    display: none;
}

.form-validation.error p {
    display: block;
}

input {
    font-size: 25px;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    border: none;
    padding-left: 0.5rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.modal-btn {
    font-size: 25px;
    width: 100%;
    height: 4rem;
    padding-left: 0.5rem;
}

.err-mes {
    margin: 15px 15px;
    color: red;
    display: none;
    text-align: center;
}

.succ-mes {
    margin: 15px 15px;
    color: green;
    display: none;
    text-align: center;
}

.mes-active {
    display: block;
}